- repreesenation

- len

- max

- min

- sorted

- reversed

- in 

- for using in 

- index

- index using for

- concatination

- methods

- List is represented using square brackets

In [4]:
l1 = [1,2,3,4,5]
print(type(l1))

<class 'list'>

In [6]:
l2 = ['a','b','Hero',12,12.4,True]

print(l2)

['a', 'b', 'Hero', 12, 12.4, True]

In [8]:
l3 = [100,100,100]
print(l3)

[100, 100, 100]

In [10]:
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]

print(l4)

['hello', ['peter', 3, 2, 3], [3, 4, 5.55, True], 4, 5, 6]

In [12]:
name = "ananth"

l5 = [name]
print(l5)

['ananth']

- List is an array of elements, the elements of list are heterogenous. All the datatypes can be added in the list. 
- It is also called as - collection of values( values can be of any dataypes)
- Nested list,variable assignment are also possible in the list.

In [31]:
l1 = [1,2,3,4,5]
l2 = ['a','b','Hero',12,12.4,True]
l3 = [100,100,100]
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]
name = "ananth"
l5 = [name]


print(len(l1))
print(len(l2))
print(len(l3))
print(len(l4))
print(len(l5))

5
6
3
6
1

In [37]:
l1 = [1,2,3,4,5]
l6 = ['a','bc','c']
l2 = ['a','b','Hero',12,12.4,True]
l3 = [100,100,100]
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]
name = "ananth"
l5 = [name]


print(max(l1))
print(max(l6))
print(max(l2))
print(max(l3))
print(max(l4))
print(max(l5))

5
c

TypeError: '>' not supported between instances of 'int' and 'str'

In [39]:
l1 = [1,2,3,4,5]
l6 = ['a','bc','c']
l2 = ['a','b','Hero',12,12.4,True]
l3 = [100,100,100]
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]
name = "ananth"
l5 = [name]


print(min(l1))
print(min(l6))
print(min(l2))
print(min(l3))
print(min(l4))
print(min(l5))

1
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [41]:
l1 = [1,2,3,4,5]
l6 = ['a','bc','c']
l2 = ['a','b','Hero',12,12.4,True]
l3 = [100,100,100]
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]
name = "ananth"
l5 = [name]


print(sorted(l1))
print(sorted(l6))
print(sorted(l2))
print(sorted(l3))
print(sorted(l4))
print(sorted(l5))

[1, 2, 3, 4, 5]
['a', 'bc', 'c']

TypeError: '<' not supported between instances of 'int' and 'str'

In [51]:
l1 = [1,2,3,4,5]
l6 = ['a','bc','c']
l2 = ['a','b','Hero',12,12.4,True]
l3 = [100,100,100]
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]
name = "ananth"
l5 = [name]


a = reversed(l1)
for i in a:
    print(i,end=" ")

print()

b = reversed(l2)
for m in b:
    print(m,end=" ")
print()
c = reversed(l3)
for j in c:
    print(j,end=" ")
print()

d = reversed(l4)
for k in d:
    print(k,end=" ")
print()
e = reversed(l5)
for v in e:
    print(v,end=" ")
print()
f = reversed(l6)
for h in f:
    print(h,end=" ")

5 4 3 2 1
True 12.4 12 Hero b a
100 100 100
6 5 4 [3, 4, 5.55, True] ['peter', 3, 2, 3] hello
ananth
c bc a

In [55]:
l1 = [1,2,3,4,5]
l6 = ['a','bc','c']
l2 = ['a','b','Hero',12,12.4,True]
l3 = [100,100,100]
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]
name = "ananth"
l5 = [name]


list1 = list(reversed(l1))
list2 = list(reversed(l2))
list3 = list(reversed(l3))
list4 = list(reversed(l4))
list5 = list(reversed(l5))
list6 = list(reversed(l6))

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)

[5, 4, 3, 2, 1]
[True, 12.4, 12, 'Hero', 'b', 'a']
[100, 100, 100]
[6, 5, 4, [3, 4, 5.55, True], ['peter', 3, 2, 3], 'hello']
['ananth']
['c', 'bc', 'a']

In [57]:
name = ['ananth','aananth','bat']

print(max(name))

# It compares the first char in all the elements of the list - if the 1st char is same then it will check the next char and print the max or min value.

bat

In [67]:
l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]

print(l4[2][2])
print(l4[2][3])

5.55
True

In [69]:
c = [55,'a']
print(max(c))

# Same datatype are only comparable.

TypeError: '>' not supported between instances of 'str' and 'int'

In [71]:
#Indexing

l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]

for i in range(len(l4)):
    print(l4[i])

hello
['peter', 3, 2, 3]
[3, 4, 5.55, True]
4
5
6

In [73]:
l1 = [1,[2]]

print(l1[1][0])

2

In [79]:
#Slicing

l4 = ['hello',['peter',3,2,3],[3,4,5.55,True],4,5,6]

print(l4[0:4:1])
print(l4[0:4])
print(l4[:4])

['hello', ['peter', 3, 2, 3], [3, 4, 5.55, True], 4]
['hello', ['peter', 3, 2, 3], [3, 4, 5.55, True], 4]
['hello', ['peter', 3, 2, 3], [3, 4, 5.55, True], 4]

In [81]:
l1=[1,[2,['A','B']]]
print(l1[1][1][1])

B

In [93]:
l1=[1,2,[3,[4,[5,['Apple']]]]]
print(l1[2][1][1][1][0])

Apple

In [89]:
print(l1[2][1][1])

[5, ['Apple']]

In [91]:
print(l1[2][1][1][1]

['Apple']

In [99]:
list1=['Apple',1,'Solapur',['cherry','papaya',70,[123,'Banana'],'tomato'],'python'] #get banana

print(list1[3][3][1])

Banana

In [105]:
list1=[[[[[[[1,'Cherry']]]]]]]

print(list1[0][0][0][0][0][0][1])

Cherry

In [121]:
list1=['MH',
       ['Nagpur',['Orange',['likes',['king'],['shivaji',['Son',['shmbaji']]]]]
       ]]

print(list1[1][1][1][2][1][1][0])

shmbaji

In [130]:
l1 = [1,2,3,4,5,6,'A','B','C','D','E','F','G']

print(l1[3:9:2])
print(l1[3:9:-2])
print(l1[3:-9:2])
print(l1[3:-9:-2])
print(l1[-3:9:2])
print(l1[-3:-9:-2])
print(l1[-3:3:-2])

[4, 6, 'B']
[]
[4]
[]
[]
['E', 'C', 'A']
['E', 'C', 'A', 5]

**List Methods**

In [135]:
ls = []
for i in range(1,6):
    ls.append(i*i)

print(ls)

[1, 4, 9, 16, 25]

In [139]:
l = [1,2,3,4,5]

l.append([2,3,4])
print(l)

[1, 2, 3, 4, 5, [2, 3, 4]]

In [145]:
str1 = 'hai hai hai'
l2 = []

for i in range(len(str1)):
    if str1[i] == 'a':
        l2.append(i)

print(l2,sum(l2))

[1, 5, 9] 15

In [153]:


L1 = ['hyd','mumbai','chennai','blr']
l2=[]
for i in L1:
    if len(i)>4:
        l2.append(i)

print(l2)

['mumbai', 'chennai']

In [159]:
L1 = ['Hyd','Mumbai','chennai','blr']
l2=[]
for i in L1:
    if ord(i[0])>=65 and ord(i[0])<=96:
        l2.append(i)

print(l2)

['Hyd', 'Mumbai']

In [157]:
print(ord('A'))
print(ord('a'))

65
97

In [ ]:
str1 = "hello I am learning python"
str2=[]

for i in str1.split():
    str2.append(i.capitalize())

print(str2)