In [5]:
str1 = "hello I am learning python"
str2=[]

for i in str1.split():
    str2.append(i.capitalize())

' '.join(str2)

'Hello I Am Learning Python'

In [9]:
import math
a= [1,2]
b = [1,5]

v1 = a[1]-a[0]
v2 = b[1]-b[0]

v11 = v1**2
v22 = v2**2
print(math.sqrt(v11+v22))

4.123105625617661

In [17]:
points = [[2,4],[5,10],[4,7]]
val = [3,6]
dis = []
for i in points:
    dis.append(math.sqrt((i[1]-i[0])**2)+((val[1]-val[0])**2))

print(f"The maximum distance is:{max(dis)}")

The maximum distance is:14.0

In [25]:
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append
str1='hello hai how are you'

ls = str1.split(' ')
new_ls = []
sum = 0
for i in ls:
    new_ls.append(len(ls))
max_len = max(new_ls)

for i in ls:
    if len(i) == max_len:
        word = i

for i in range(max_len):
    sum+=i

print(f"The maximum len of word is: {word}")
print(f"The sum of indexes of {word} is {sum}")

The maximum len of word is: hello
The sum of indexes of hello is 10

In [28]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort']

In [30]:
#clear

a = [1,2,3,4,'hero',True,22.3]
print(a)

[1, 2, 3, 4, 'hero', True, 22.3]

In [32]:
a.clear() # The clear method is used to empty the entire list. 
print(a)

[]

In [38]:
#  'copy'

a = [1,2,3,4,'hero',True,22.3]
b = a.copy() # The copy methods is used to copy the content of the entire list to another list.

print(b)

[1, 2, 3, 4, 'hero', True, 22.3]

In [52]:
#  'count',

a = [1,2,3,4,'hero',True,22.3,2,3,'a','a','b','b']
a.count(22) # The count function will retrieve the count of a value in the list.

0

In [62]:
#  'extend',
a = [1,2,3,4,'hero',True,22.3,2,3,'a','a','b','b']
a.extend([11,22,33]) # Extend function is used to add the values at the end of the index, but it will only take iterable values like list,tuple,dict
a.extend({44,55,77})
print(a)

[1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 55]

In [76]:
#  'index',
a = [1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 55]
a.index(2,8,len(a)) # The index function will retrieve the index value of the value provided in the input. We can mention the start and stop value as well.

ValueError: 2 is not in list

In [98]:
#  'insert',

a = [1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 55]
a.insert(-1,'hello') # Insert function is used to add the value at a particular index. 
print(a) # If the negative index is provided then the object will be added an index prior to the index mentioned(if -1 is mentioned 
# then the object will be added at -2 location)

[1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 'hello', 55]

In [102]:
a = [1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 55]
a.insert(1,'hello')
print(a)

[1, 'hello', 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 55]

In [110]:
#  'pop',

a = [1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 77, 55]
a.pop(-2) # The pop function is used to remove a value based on the index provided, if no index is provided it will take the last index -1. 
# The function returns the removed object value.
print(a)

[1, 2, 3, 4, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 55]

In [114]:
a.pop(2)
print(a)

[1, 2, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44, 55]

In [116]:
print(a.pop())
print(a)

55
[1, 2, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44]

In [122]:
#  'remove',
a = [1, 2, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44]
a.remove(2) # Remove function removes the first occurance of the value in the list. 
print(a)

TypeError: list.remove() takes exactly one argument (2 given)

In [126]:
a.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [128]:
#  'reverse',

a = [1, 2, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44]
a.reverse()
print(a)

[44, 33, 22, 11, 'b', 'b', 'a', 'a', 3, 2, 22.3, True, 'hero', 2, 1]

In [ ]:
#Keyword are the builtin functions like len,max,min,print,sorted

#len(list),max(list),min(list),sorted(list)

#Methods - These are related to the list or strings.

#list.clear(),list.copy()

In [148]:
#  'sort'

#a = [52,221,110,1, 2, 'hero', True, c, 'a', 'a', 'b', 'b', 11, 22, 33, 44]
b = [52,221,110,1, 2,52,221,110,1, 2,11, 22, 33, 44]
c = ['hero', 'a', 'a', 'b', 'b']
b.sort()
print(b)
c.sort()
print(c)

[1, 1, 2, 2, 11, 22, 33, 44, 52, 52, 110, 110, 221, 221]
['a', 'a', 'b', 'b', 'hero']

**sort - sorted**

In [156]:
b = [52,221,110,1, 2,52,221,110,1, 2,11, 22, 33, 44]
print(sorted(b)) # just the sorted keyword will return the sorted list but will not update the list with the sorted values.
print(b) 
b.sort() #On the other hand the sort method will update the list in the asc/des order.
print(b)

[1, 1, 2, 2, 11, 22, 33, 44, 52, 52, 110, 110, 221, 221]
[52, 221, 110, 1, 2, 52, 221, 110, 1, 2, 11, 22, 33, 44]
[1, 1, 2, 2, 11, 22, 33, 44, 52, 52, 110, 110, 221, 221]

**Append - Extend - Concatination - Insert**

In [204]:
a = [52,221,110,1, 2, 'hero']
b = [True, 'c', 'a', 'a', 'b']
c = ['b', 11, 22, 33, 44]
d = [False, 11, 22.4, 33, '44']
a.append([22,33,45]) # Append will add the values at the end, it will only take one value. If it is a list or tuple - it will be added as a list or tuple
a.append('hello')
a.append(22)
print(a)

b.extend([22,33,'python',3.14]) # Extend will only take iterable values like list or tuple,int ,float, bool will not be working. 
b.extend('Hello') # If an str is added then it will be added as individual char.
b.extend('d')
#b.extend(22.344)
#b.extend(True)
print(b)

f = c+d # Concatination will only work to add a list to a list only. We cannot add a int str or any other thing. 
print(f)

b.insert(2,44)# The insert method is used to add a value at a specifc index.
print(b)

[52, 221, 110, 1, 2, 'hero', [22, 33, 45], 'hello', 22]
[True, 'c', 'a', 'a', 'b', 22, 33, 'python', 3.14, 'H', 'e', 'l', 'l', 'o', 'd']
['b', 11, 22, 33, 44, False, 11, 22.4, 33, '44']
[True, 'c', 44, 'a', 'a', 'b', 22, 33, 'python', 3.14, 'H', 'e', 'l', 'l', 'o', 'd']

**POP Vs REMOVE**

In [215]:
a = [52,221,110,1,2,2222, 22, 'hero']
print(a.pop())
print(a.pop(2))
print(a)

a.remove(22)
a.remove(22222222)
print(a)

#POP will remove the object based on the index provided if no index is provided last index value will be removed
# Remove will remove a particular value from the list.If the value is not present in the list it will fail with error value not present in list.

hero
110
[52, 221, 1, 2, 2222, 22]

ValueError: list.remove(x): x not in list

**REVERSED Vs REVERSE**

In [226]:
a = [1, 2, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44]
b = []
for i in reversed(a):
    b.append(i)
print(b)
print(a)
a.reverse()
print(a)

# Reversed function will reverse the list but in order to retrieve the objects we need to use a for loop and append the values into a new list.
# On the other hand reverse method is used to reverse the list and store the reversed list in the same list.

[44, 33, 22, 11, 'b', 'b', 'a', 'a', 3, 2, 22.3, True, 'hero', 2, 1]
[1, 2, 'hero', True, 22.3, 2, 3, 'a', 'a', 'b', 'b', 11, 22, 33, 44]
[44, 33, 22, 11, 'b', 'b', 'a', 'a', 3, 2, 22.3, True, 'hero', 2, 1]

In [236]:
l1 = [1,2,3,4,'Apple',10,20,'Apple',60]
i1 = l1.index('Apple')
i2 = l1.index('Apple',i1+1)
l1.insert(i2,'Cherry')
print(l1)

[1, 2, 3, 4, 'Apple', 10, 20, 'Cherry', 'Apple', 60]

In [234]:
l1.count('Apple')

2

In [246]:
l1 = [1,2,3,4,'Apple',10,20,'Apple',60]
i1 = l1.index('Apple')
l1.pop(i1)
print(l1)
i2 = l1.index('Apple',i1+1)
l1.pop(i2)
print(l1)

[1, 2, 3, 4, 10, 20, 'Apple', 60]
[1, 2, 3, 4, 10, 20, 60]

In [248]:
l1 = [1,2,3,4,'Apple',10,20,'Apple',60]
i2 = l1.index('Apple',i1+1)
l1.pop(i2)
print(l1)

[1, 2, 3, 4, 'Apple', 10, 20, 60]

In [264]:
# l1 = [1,2,3,4,'Apple',10,20,'Apple',60]
# a = len(11)-1
# for i in range(a):
#     if l1[i] == 'Apple':
#         l1.pop(i)
#         a = len(11)-1

# print(l1)

TypeError: object of type 'int' has no len()

In [262]:
len(l1)

7

In [266]:
l1 = [1,2,3,4,'Apple',10,20,'Apple',60]
i1 = l1.index('Apple')
l1.pop(i1)

i1 = l1.index('Apple')
l1.pop(i1)
print(l1)

[1, 2, 3, 4, 10, 20, 60]

In [282]:
str1 = 'hai apple how are you apple I am good apple thank you apple'

#O/p - hai how are you I am good thank you. 

new_str = str1.split(' ')
print(new_str)
for i in range(new_str.count('apple')):
    i1 = new_str.index('apple')
    new_str.pop(i1)

(' ').join(new_str)

['hai', 'apple', 'how', 'are', 'you', 'apple', 'I', 'am', 'good', 'apple', 'thank', 'you', 'apple']

'hai how are you I am good thank you'

In [284]:
str1 = 'hai apple how are you apple I am good apple thank you apple'

#O/p - hai how are you I am good thank you. 

new_str = str1.split(' ')
print(new_str)
for i in range(new_str.count('apple')):
    new_str.remove('apple')

(' ').join(new_str)

['hai', 'apple', 'how', 'are', 'you', 'apple', 'I', 'am', 'good', 'apple', 'thank', 'you', 'apple']

'hai how are you I am good thank you'

**del - Keyword**
- You can delete any value from the string.

In [295]:
str1 = 'hai apple how are you apple I am good apple thank you apple'
new_str = str1.split(' ')
del(new_str[1])
print(new_str)

['hai', 'how', 'are', 'you', 'apple', 'I', 'am', 'good', 'apple', 'thank', 'you', 'apple']