- We can store the output values in a list using append operation
- We are taking an empty list
- We are iterating through each element in the list
- We are appending in the empty list.

In [2]:
sqr = []
for i in range(10):
    sqr.append(i**2)

sqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines in the above code.
- We can trim the 3 lines into 1 line.
- The process of confining the logic into 1 line is called as List Comprehension
- Assignment or initialization or comparision operations will not work in list comprehension.

$Pattern-1$

**Only for loop**

In [ ]:
#syntax

#[output <for loop>]

In [6]:
sqr = []
for i in range(10):
    sqr.append(i**2)

sqr

#Q1 - What is the output - i*i
#Q2 - What is the output list name - sqr
#Q3 - What is the for loop condition - for i in range(10)
#[output <for loop>]

sqr = [i*i for i in range(10)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
#Q2 
l1 = ['hyd','mumbai','chennai','blr']
l2 = [i.capitalize() for i in l1]

l3 = [i.upper() for i in l1]

l4 = [i.lower() for i in l1]

print(l2,l3,l4)

['Hyd', 'Mumbai', 'Chennai', 'Blr'] ['HYD', 'MUMBAI', 'CHENNAI', 'BLR'] ['hyd', 'mumbai', 'chennai', 'blr']

In [5]:
#Q3
l1 = ['hyd','mumbai','chennai','blr']
out = [i for i in range(len(l1))]
print(sum(out))

6

In [9]:
l1 = ['hyd','mumbai','chennai','blr']
val=0
#out = [val+=i for i in range(len(l1))] #Assignment or initialization or comparision operations will not work in list comprehension.
print(val)

0

$Pattern-2$

**for loop - if conditions**

In [12]:
#Syntax

#[output <for loop> <if condition>]

In [14]:
l1 = ['hyd','mumbai','chennai','blr']
l2 = []
for i in l1:
    if len(i)>4:
        l2.append(i)

print(l2)

['mumbai', 'chennai']

In [16]:
l1 = ['hyd','mumbai','chennai','blr']
out = [i for i in l1 if len(i)>4]
print(out)

['mumbai', 'chennai']

In [30]:
# Q4)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'
l1 = ['Hyd','Mum#bai','Chen#nai','blr']
out=[i for i in l1 if '#' in i]
print(out)

['Mum#bai', 'Chen#nai']

In [32]:
l1 = ['Hyd','Mum#bai','Chen#nai','blr']
out=[i for i in l1 if '#' not in i]
print(out)

['Hyd', 'blr']

In [34]:
l1 = ['Hyd', 'Mumbai', 'Chennai', 'Blr']
out=[i for i in l1 if i.istitle()]
print(out)

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [66]:
# Q5) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1='virat.kohli@rcb.com,Rohit.sharma@mi.com,KL.Rahul@lucknow.com'

list1 = str1.split(',')

first_name = [list1[i][:list1[i].index('.')] for i in range(3)]
print(first_name)

second_name = [list1[i][list1[i].index('.')+1:list1[i].index('@')] for i in range(3)]
print(second_name)

c_name = [list1[i][list1[i].index('@')+1:list1[i].index('.',list1[i].index('@')+1)] for i in range(3)]
print(c_name)

['virat', 'Rohit', 'KL']
['kohli', 'sharma', 'Rahul']
['rcb', 'mi', 'lucknow']

$Pattern-3$

**if-else conditions**

In [6]:
#Syntax

#[<if output> <if> <else> <else output> for]

In [10]:
# Even odd

[print(f'{i} is even') if i%2==0 else print(f'{i} is odd') for i in range(10)]

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

[None, None, None, None, None, None, None, None, None, None]

In [12]:
even = []
odd = []

[even.append(i) if i%2==0 else odd.append(i) for i in range(10)]
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]