**Map**

- Map takes a function and an iterator as input(as iterator can be list,tuple,dict)
- The function will be called using Lambda
- The map is used to map the output of the given expression into a new iterator(list,set,tuple)

In [4]:
l1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

l2 = list(map(lambda x: x*2, l1))
print(l2)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [6]:
l1 = ['hyd','mum','che']

l2 = list(map(lambda i:i.upper(),l1))
print(l2)

['HYD', 'MUM', 'CHE']

In [8]:
l1 = ['hyd','mum','che']

l2 = list(map(lambda i:i.capitalize(),l1))
print(l2)

['Hyd', 'Mum', 'Che']

In [10]:
l1 = (3,22,3,10,40,211,301)

l2 = tuple(map(lambda x: x%2==0, l1))
print(l2)

(False, True, False, True, True, False, False)

**Filter**

- Filter keyword is used to retrieve the value that satisfies the given condition. 
- In the above code when we use the map keyword we can see the o/p as True/False based on the conditions, but in order for us to retrieve the values - we will be usign the filter keyword.

In [13]:
l1 = (3,22,3,10,40,211,301)

l2 = tuple(filter(lambda x: x%2==0, l1))
print(l2)

(22, 10, 40)

In [17]:
l1 = ['hy#d','mum','ch#e']

l2 = list(map(lambda i:'#' in i,l1))
print(l2)

l2 = list(filter(lambda i:'#' in i,l1))
print(l2)

[True, False, True]
['hy#d', 'ch#e']

In [19]:
age = [22,11,33,24,10,44,23,50]
a = list(filter(lambda a:a>18,age))
print(a)

[22, 33, 24, 44, 23, 50]

**Reduce**

- The reduce keyword is a part of functools package. 
- In order for us to use it we need to import functools package. 
- This keyword is used to perform an operation over a iterator.

In [22]:
from functools import reduce
num = [0,1,2,3,4,5,6,7,8,9,10]
reduce(lambda a,b:a+b,num)

55

In [24]:
#Facotrial of 5

from functools import reduce
num = [1,2,3,4,5]
reduce(lambda a,b:a*b,num)

120

In [28]:
from functools import reduce

num = [22,13,1,3,55,56,244,56,2]
reduce(lambda a,b:a if a>b else b,num)

244