In [36]:

a = [[1,2],[3,4]]
b = [[5,6],[7,8]]
d = [[0,0],[0,0]]

for i in range(len(a)):
    for j in range(len(b)):
        d[i][j] = a[i][j]-b[i][j]

for f in d:
    print(f)

[-4, -4]
[-4, -4]

In [21]:
a = [[1,2],[3,4]]
a[

SyntaxError: incomplete input (2743711231.py, line 2)

[1, 2, 3, 4]

In [38]:

a = [[1,2],[3,4]]
b = [[5,6],[7,8]]

g = [[a[i][j] * b[i][j] for j in range(len(a[0]))] for i in range(len(a))]

d = [[a[i][j] + b[i][j] for j in range(len(a[0]))] for i in range(len(a))]
for f in d:
    print(f)

for l in g:
    print(l)

[6, 8]
[10, 12]
[5, 12]
[21, 32]

In [11]:
x = [1,2,'tue','wed']

x.append('thu')
x.extend([4,5,6,7,'fri','sat','sun','mon'])
print(x.pop())
print(x)

y == x
print(y)

mon
[1, 2, 'tue', 'wed', 'thu', 4, 5, 6, 7, 'fri', 'sat', 'sun']
[1, 2, 'tue', 'wed', 'thu', 4, 5, 6, 7, 'fri', 'sat', 'sun']

In [19]:
x = [1,2,'tue','wed']


for i in range(len(x)):
    print(x[i])

1
2
tue
wed

In [27]:
x ={1,2,3,3,4,4}
print(x)
print(type(x))

{1, 2, 3, 4}
<class 'set'>

In [35]:
d1= {'key1':2,'key2':3,4:5,6:9}
print(d1)
print(list(d1.values()))
print(list(d1.keys()))
del d1['key2']
print(d1)
print('key1' in d1)
for key,values in d1.items():
    print(key,values)

for key in d1:
    print(key,d1[key])

{'key1': 2, 'key2': 3, 4: 5, 6: 9}
[2, 3, 5, 9]
['key1', 'key2', 4, 6]
{'key1': 2, 4: 5, 6: 9}
True
key1 2
4 5
6 9
key1 2
4 5
6 9

In [61]:
x = {i:0 for i in range(1,100) if i%3==0}
print(x)
print(type(x))


x = [i for i in range(1,100) if i%3==0]
print(x)
print(type(x))

x = {i for i in range(1,100) if i%3==0}
print(x)
print(type(x))


x = tuple(i for i in range(1,100) if i%3==0)
print(x)
print(type(x))

{3: 0, 6: 0, 9: 0, 12: 0, 15: 0, 18: 0, 21: 0, 24: 0, 27: 0, 30: 0, 33: 0, 36: 0, 39: 0, 42: 0, 45: 0, 48: 0, 51: 0, 54: 0, 57: 0, 60: 0, 63: 0, 66: 0, 69: 0, 72: 0, 75: 0, 78: 0, 81: 0, 84: 0, 87: 0, 90: 0, 93: 0, 96: 0, 99: 0}
<class 'dict'>
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
<class 'list'>
{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}
<class 'set'>
(3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99)
<class 'tuple'>

In [69]:
def func2(x,y,z=None):
    return (x*y)+z

func2(2,3,3)

9

In [81]:
x = [1,2,3,4]
y = (1,2,3,4)
z = {1,2,3,4}
a = {'a':1,'b':2,'c':3}

print(*x)
print(*y)
print(*z)
#print(**a)
print(type(a))

1 2 3 4
1 2 3 4
1 2 3 4
<class 'dict'>

In [85]:
a = {'b':1,'c':2,'d':3}
print(**a)

TypeError: 'b' is an invalid keyword argument for print()

In [93]:
def func(**kwargs):
    for key,values in kwargs.items():
        print(f"{key}:{values}")
f = {'a':4,'b':5,'c':6}
func(**{'a':4,'b':5,'c':6})

a:4
b:5
c:6

In [97]:
x = 'ananth'
def func4(name):
    x = name

print(x)
func4('Hero')
print(x)

ananth
ananth

In [99]:
x = 'ananth'
def func4(name):
    global x
    x = name

print(x)
func4('Hero')
print(x)

ananth
Hero

In [101]:
raise Exception("Bad Input")

Exception: Bad Input

In [103]:
raise FileNotFoundError("Incorrect file name")

FileNotFoundError: Incorrect file name

In [105]:
#map 

x = [1,2,3,4,5,6,7,8,9,10]
mp = map(lambda i :i+2,x)
print(list(mp))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [111]:
#Filter

x = [1,2,3,4,5,6,7,8,9,10]
mp = filter(lambda i :i%2==0,x)
print(list(mp))

[2, 4, 6, 8, 10]

In [115]:
class Car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model

my_car = Car("Toyota","Corolla")
print(my_car.brand)
print(my_car.model)

my_car_2 = Car("MS","XL6")
print(my_car_2.brand)
print(my_car_2.model)

Toyota
Corolla
MS
XL6

In [121]:
class Car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model
    def full_name(self):
        return f"{self.brand} {self.model}"

my_car = Car("Toyota","Corolla")
print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_car_2 = Car("MS","XL6")
print(my_car_2.brand)
print(my_car_2.model)
print(my_car_2.full_name())

Toyota
Corolla
Toyota Corolla
MS
XL6
MS XL6

In [129]:
#Inheritance

class Car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model
    def full_name(self):
        return f"{self.brand} {self.model}"

class ElectricCar(Car):
    def __init__(self,brand,model,battery_size):
        super().__init__(brand,model)
        self.battery_size = battery_size

my_tesla = ElectricCar("Tesla","Model X","90Kwh")
print(my_tesla.full_name())
print(my_tesla.model)
print(my_tesla.brand)
print(my_tesla.battery_size)

Tesla Model X
Model X
Tesla
90Kwh

In [134]:
#Encapsulation

class Car:
    def __init__(self,brand,model):
        self.__brand = brand
        self.model = model

    def get_brand(self):
        return self.__brand + "!!"

    def full_name(self):
        return f"{self.__brand} {self.model}"

class ElectricCar(Car):
    def __init__(self,brand,model,battery_size):
        super().__init__(brand,model)
        self.battery_size = battery_size

my_tesla = ElectricCar("Tesla","Model X","90Kwh")
print(my_tesla.full_name())
print(my_tesla.model)
#print(my_tesla.__brand)
print(my_tesla.battery_size)
print(my_tesla.get_brand())

Tesla Model X
Model X
90Kwh
Tesla!!

In [146]:
#Polymorphism

class Car:
    def __init__(self,brand,model):
        self.__brand = brand
        self.model = model

    def get_brand(self):
        return self.__brand + "!!"

    def full_name(self):
        return f"{self.__brand} {self.model}"
    def fuel_type(self):
        return "Petrol or Diesel"

class ElectricCar(Car):
    def __init__(self,brand,model,battery_size):
        super().__init__(brand,model)
        self.battery_size = battery_size
    def fuel_type(self):
        return "Electric Charge"

my_tesla = ElectricCar("Tesla","Model X","90Kwh")
print(my_tesla.full_name())
print(my_tesla.model)
#print(my_tesla.__brand)
print(my_tesla.battery_size)
print(my_tesla.get_brand())

my_car = Car("Toyota","Corolla")
print(my_car.get_brand)
print(my_car.model)
print(my_car.full_name())

my_car_2 = Car("MS","XL6")
print(my_car_2.get_brand)
print(my_car_2.model)
print(my_car_2.full_name())

print(my_car.fuel_type())
print(my_car_2.fuel_type())
print(my_tesla.fuel_type())

Tesla Model X
Model X
90Kwh
Tesla!!
<bound method Car.get_brand of <__main__.Car object at 0x14353d4d0>>
Corolla
Toyota Corolla
<bound method Car.get_brand of <__main__.Car object at 0x14353d350>>
XL6
MS XL6
Petrol or Diesel
Petrol or Diesel
Electric Charge

In [142]:
num1 = eval(input("Enter number1: "))
num2 = eval(input("Enter number2: "))
sum = num1+num2
print(sum)

Enter number1:  22
Enter number2:  33

55

In [144]:
side = int(input("Enter the side value: "))
area = side*side
print(area)

Enter the side value:  11

121

In [150]:
num1 = float(input("Enter number1: "))
num2 = float(input("Enter number2: "))

avg = (num1+num2)/2
print(avg)

Enter number1:  22.3
Enter number2:  22.1

22.200000000000003

In [158]:
a = eval(input("Enter a : "))
b = eval(input("Enter b : "))

print(a>=b)

Enter a :  11
Enter b :  11

True