**TUPLES**

- representation

- type

- len

- max

- min

- sum

- sorted

- reversed

- in

- for loop with in

- index

- for loop with index

- mutable and immutable

- slicing

- concatenation

- Methods

**Represenation** 
- Tuples are represented using normal braces()
- Tuples are simillat to list but only difference is tuples are immutable, we cannot change the values of the tuple.
- But we can remove the objects from tuple.
- Tuples is a collection of objects(they can be of any datatype)

In [6]:
tup1 = (1,2,3,4,'hello',True,22.4)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 'hello', True, 22.4)
<class 'tuple'>

In [9]:
#len
tup1 = (1,2,3,4,'hello',True,22.4)
print(len(tup1))

7

In [53]:
#max
tup1 = (55,1,2,22,111,3,4,22.4)
print(max(tup1))

names = ('Ananth','Sai','Srinivas')
print(max(names))

111
Srinivas

In [55]:
#min
tup1 = (55,1,2,22,111,3,4,22.4)
print(min(tup1))

names = ('Ananth','Sai','Srinivas')
print(min(names))

1
Ananth

In [57]:
#sum

tup1 = (55,1,2,22,111,3,4,22.4)
print(sum(tup1))

tup2 = (1,2,3,4,'hello',True,22.4)
#print(sum(tup2)) will not work as it cannot perform addition on str objects.

names = ('Ananth','Sai','Srinivas')
#print(sum(names)) will not work as it cannot perform addition on str objects.

220.4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
#Sorted
tup1 = (55,1,2,22,111,3,4,22.4)
print(sorted(tup1))

tup2 = (1,2,3,4,'hello',True,22.4)
#print(sorted(tup2)) will not work as it cannot perform sorting on str objects.

[1, 2, 3, 4, 22, 22.4, 55, 111]

In [39]:
tup2 = (1,2,3,4)
tup3 = ()
for i in reversed(tup2):
    tup3+=i #we cannot concatinate string,int,bool or float into a tuple

print(tup3)

TypeError: can only concatenate tuple (not "int") to tuple

In [51]:
# Reversed and for loop with in.

tup2 = (1,2,3,4,'hello',True,22.4)
for i in reversed(tup2):
    print(i,end=" ")

tuple(reversed(tup2))

22.4 True hello 4 3 2 1

(22.4, True, 'hello', 4, 3, 2, 1)

In [47]:
tup2 = (1,2,3,4,'hello',True,22.4,(1,2,3,4))
print(tup2)

(1, 2, 3, 4, 'hello', True, 22.4, (1, 2, 3, 4))

In [59]:
#in
tup1 = (1,2,3)
tup2 = (1,2,3,4,'hello',True,22.4)
for i in tup1:
    if i in tup2:
        print("Yes")

Yes
Yes
Yes

In [71]:
#Index
tup2 = (1,2,3,4,'hello',True,22.4)
for i in range(len(tup2)):
    print(f'The positive index {i} is {tup2[1]}')

The positive index 0 is 2
The positive index 1 is 2
The positive index 2 is 2
The positive index 3 is 2
The positive index 4 is 2
The positive index 5 is 2
The positive index 6 is 2

In [73]:
tup2 = (1,2,3,4,'hello',True,22.4)
for i in range(-len(tup2),0,1):
    print(f'The negative index {i} is {tup2[1]}')

The negative index -7 is 2
The negative index -6 is 2
The negative index -5 is 2
The negative index -4 is 2
The negative index -3 is 2
The negative index -2 is 2
The negative index -1 is 2

In [81]:
# mutable and immutable

tup1 = (1,2,3,4,'hello',True,22.4)
#tup1[1] = 'hi' # It failed with error - object does not support item assignment. 
print(tup1)

tup1+=2  # Failed cannot concatenate with string.
print(tup1)

# So the tuples are not mutable.

(1, 2, 3, 4, 'hello', True, 22.4)

TypeError: can only concatenate tuple (not "int") to tuple

In [109]:
#slicing
tup1 = (1,2,3,4,'hello',True,22.4)
print(tup1[0:len(tup1)])
print(tup1[1:5])
print(tup1[::-1])
print(tup1[0:6:2])
print(tup1[-len(tup1):-1:1])
print(tup1[-1:2:-1])
print(tup1[-6:-1:1])
print(tup1[-6:6:-1])

(1, 2, 3, 4, 'hello', True, 22.4)
(2, 3, 4, 'hello')
(22.4, True, 'hello', 4, 3, 2, 1)
(1, 3, 'hello')
(1, 2, 3, 4, 'hello', True)
(22.4, True, 'hello', 4)
(2, 3, 4, 'hello', True)
()

In [115]:
#concatenation

tup1 = (1,2,3,4,'hello',True,22.4)
tup2 = (55,22)
print(tup1+tup2) # We can concatinate 2 tuples

ls = [1,3]
#print(tup2+ls) # cannot concatenate list to a tuple

print(tup2+5) # cannot concatenate int to a tuple

# Concatenation will only work fro 2 tuples.

(1, 2, 3, 4, 'hello', True, 22.4, 55, 22)

TypeError: can only concatenate tuple (not "int") to tuple

In [125]:
# Methods

tup1 = (1,2,3,4,2,3,4,3,2,2,2,'hello',True,22.4,False,0)
print(tup1.count(2))
print(tup1.count('hello'))
print(tup1.count(True)) # If we try to count for True it will consider 1 as well 1 True - so the count will be returning as 2
#If 1 is not present in the tuple then then output will be 1.
print(tup1.count(False))# If we try to count for False it will consider 0 as well 1 True - so the count will be returning as 2

5
1
2
2

In [137]:
tup1 = (1,2,3,4,2,3,4,3,2,2,2,'hello',True,22.4,False,0)
print(tup1.index(True,1))
print(tup1.index(False,1))
print(tup1.index(2))
print(tup1.index(2,2,6))

12
14
1
4

In [141]:
tup1 = (1,2,3,4,2,3,4,3,2,2,2,'hello',True,22.4,False,0)

i1 = tup1.index(2)
i2 = tup1.index(2,i1+1)
i3 = tup1.index(2,i2+1)

print(i1,i2,i3)

1 4 8

In [147]:
tup1 = (1,2,3,4,2,3,4,3,2,2,2,'hello',True,22.4,False,0)
a = tup1.count(2)
i1 = 0
for i in range(a):
    g = tup1.index(2,i1)
    i1 = g+1
    print(g,end=" ")

1 4 8 9 10