In [1]:
name = "Ananth"
print(max(name))

t

In [3]:
print(len(name))

6

In [5]:
print(min(name))

A

In [9]:
print(sorted(name))

['t', 'n', 'n', 'h', 'a', 'A']

In [11]:
print(sorted(name,reverse=True))

['t', 'n', 'n', 'h', 'a', 'A']

In [13]:
print(reversed(name))

<reversed object at 0x139ea50c0>

In [17]:
#Reverse function will reverse the string and store it in the memory. 
#In order for us to retrieve the reversed string then we will use a for loop and retrive the string.

In [19]:
name = "Ananth"
out = reversed(name)

for i in out:
    print(i,end="")

htnanA

In [22]:
sorted(True)

TypeError: 'bool' object is not iterable

In [24]:
sorted("Anantha",reverse=True)

['t', 'n', 'n', 'h', 'a', 'a', 'A']

In [26]:
for i in reversed("Ananth"):
    print(i,end="")

htnanA

In [36]:
name = "Ananth Sai Srinivas"
"a"  in name

True

In [40]:
str1 = "hai naresh how are you"
count = 0
for i in str1:
    if i == 'a':
        count +=1

print(count)

3

In [42]:
str1 = "hai naresh how are you"
count = 0
for i in str1:
    if i == 'a' or i =='e' or i == 'i' or i == 'o' or i =='u':
        count +=1


print(f" The total number of vowels are: {count}")

 The total number of vowels are: 9

In [48]:
str1 = "hai naresh how are you"
str2 = 'aeiou'
count = 0
for i in str1:
    if i in str2:
        count+=1

print(f" The total number of vowels are: {count}")

 The total number of vowels are: 9

In [52]:
str1 = "hai naresh how are you"
str2 = ''
count = 0
for i in str1:
    if i not in str2:
        if i in 'aeiou':
            str2+=i
            count+=1

print(str2)
print(count)

aieou
5

**Mutable and Immutable Concepts**
- Mutable - Has ability to change using the index values.
- Immutable - Cannot change using the index values. Ex - Strings

In [58]:
name = "Ananth"

name[0] = "H"
print(name)

TypeError: 'str' object does not support item assignment

In [75]:
val = "Welcome"

for i in range(len(val)):
    print(f"The positive index of {val[i]} is {i}")

The positive index of W is 0
The positive index of e is 1
The positive index of l is 2
The positive index of c is 3
The positive index of o is 4
The positive index of m is 5
The positive index of e is 6

In [63]:
val = "Welcome"
print(val[-1])

e

In [77]:
val = "Welcome"

for i in range(-len(val),0,+1):
    print(f"The negative index of {val[i]} is {i}")

The negative index of W is -7
The negative index of e is -6
The negative index of l is -5
The negative index of c is -4
The negative index of o is -3
The negative index of m is -2
The negative index of e is -1

In [83]:
val = "Welcome"

for i in range(len(val)):
    neg_index = i-len(val)
    print(f"The positive index of {i} and negative index is {neg_index} of {val[i]}")

The positive index of 0 and negative index is -7 of W
The positive index of 1 and negative index is -6 of e
The positive index of 2 and negative index is -5 of l
The positive index of 3 and negative index is -4 of c
The positive index of 4 and negative index is -3 of o
The positive index of 5 and negative index is -2 of m
The positive index of 6 and negative index is -1 of e

In [93]:
a = "Hai how are you I am good"

for i in range(len(a)):
    if a[i] == 'a':
        print(f" The index of a is {i}")

 The index of a is 1
 The index of a is 8
 The index of a is 18

In [97]:
#9

a = "Hai how are you I am good"
count = 0
for i in range(len(a)):
    if a[i] == 'a':
        count+=1
print(f"The number of times char 'a' is repeated in the string is {count}")

The number of times char 'a' is repeated in the string is 3

In [99]:
#10

a = "Hai how are you I am good"
sum = 0
for i in range(len(a)):
    if a[i] == 'a':
        sum+=i

print(f"The sum of all the indexes of 'a' is {sum}")

The sum of all the indexes of 'a' is 27

In [109]:
a = "Hai how are you I am good"
a= a.lower()
b = []
for i in range(len(a)):
    if a[i] in 'aeiou':
        b +=a[i]

print(b)

['a', 'i', 'o', 'a', 'e', 'o', 'u', 'i', 'a', 'o', 'o']

In [111]:
a = "Hai how are you I am good"
b = ""
count = 0
for i in range(len(a)):
    if a[i] in 'aeiou' and a[i] not in b:
        b+=a[i]
        count+=1

print(b)
print(count)

aioeu
5

In [127]:
# Q14) string1='ola ola ola'
# Number of ola = 3

str1 = 'ola ola ola'
count=0
b = ""
for i in range(len(str1)):
    if str1[i] in 'ola':
        b+=str1[i]
        if b == 'ola':
            count+=1
            b=""        
print(count)

3

In [175]:
# Q15) string1='hello hello hello how how how how are you'
# What is the most repeated word : how

string1='hello hello hello hello  hello how how how how are you'
# What is the most repeated word : how

count_hello,count_how = 0,0
b = ""
for i in range(len(string1)):
    if (string1[i] in 'hello' or string1[i] in 'how'):
        b+=string1[i]
        if b == 'hello':
            count_hello+=1
            b=""
        elif b == "how":
            count_how+=1
            b=""
if(count_hello>count_how):
    print(f"Hello is most repeated word {count_hello}")
else:
    print(f"How is most repeated word {count_how}")

Hello is most repeated word 5

In [185]:
#Q16) string1='hellooooo how aree u'
# what is the maximum length of word: helloooo
# what is the minimum length of word: u

c ='hellooooo how aree u'
d = ""

for i in range(len(c)):
    if c[i] in 'hellooooo':
        d+=c[i]
        if d == 'hellooooo':
            len_d = len(d)
            print(f"The maximum length of word: {d} is {len_d}")
            d = ""

d =""
for i in range(-1,-len(c),-1):
    if c[i] in 'u':
        d+=c[i]
        if d =='u':
            len_d = len(d)
            print(f"The minumum length of word: {d} is {len_d}")
            d =""

The maximum length of word: hellooooo is 9
The minumum length of word: u is 1

In [205]:
# Q17) with out using sorted then sort the letters

a = "Hello"

for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i] > a[j]:
            a[i],a[j] = a[j],a[i]
            print(a)

In [227]:
s = "Ananth"

a = list(s)
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i] > a[j]:
            a[i],a[j] = a[j],a[i]

s = ""
for i in range(len(a)):
    s+=a[i]
print(s)

Aahnnt

**String Sclicing**

- We can cut the string into pieces
- It is simillar to range function - which consists of start,stop and range values.
- Syntax - str[start:stop:step]

**Pattern-1**
- str1[start:]

In [33]:
st1 = "hello my name is Ananth"
for i in range(len(st1)):
    print(st1[i:])

hello my name is Ananth
ello my name is Ananth
llo my name is Ananth
lo my name is Ananth
o my name is Ananth
 my name is Ananth
my name is Ananth
y name is Ananth
 name is Ananth
name is Ananth
ame is Ananth
me is Ananth
e is Ananth
 is Ananth
is Ananth
s Ananth
 Ananth
Ananth
nanth
anth
nth
th
h

In [54]:
st1 = "hello my name is Ananth"
for i in range(len(st1)+1):
    print(-i)
    print(st1[-i:])

0
hello my name is Ananth
-1
h
-2
th
-3
nth
-4
anth
-5
nanth
-6
Ananth
-7
 Ananth
-8
s Ananth
-9
is Ananth
-10
 is Ananth
-11
e is Ananth
-12
me is Ananth
-13
ame is Ananth
-14
name is Ananth
-15
 name is Ananth
-16
y name is Ananth
-17
my name is Ananth
-18
 my name is Ananth
-19
o my name is Ananth
-20
lo my name is Ananth
-21
llo my name is Ananth
-22
ello my name is Ananth
-23
hello my name is Ananth

In [48]:
st1 = "hello my name is Ananth"
print(st1[-5:])

nanth

$Pattern-2$
- str1[start:stop]
- start value by default will be the first value.
- If step is not mentioned then the flow moves to the positive direction. So last = stop-1

In [61]:
st1 = "hello my name is Ananth"
for i in range(len(st1)+1):
    print(st1[0:i])

h
he
hel
hell
hello
hello
hello m
hello my
hello my
hello my n
hello my na
hello my nam
hello my name
hello my name
hello my name i
hello my name is
hello my name is
hello my name is A
hello my name is An
hello my name is Ana
hello my name is Anan
hello my name is Anant
hello my name is Ananth

In [ ]:
                                           -6 -5 -4 -3 -2  -1
# h e l l o   m y   n a  m  e      i  s     A  n  a  n  t  h
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20  21 22

In [93]:
st1 = "hello my name is Ananth"
print(len(st1))
print(st1[0:23])
print(st1[-23:23])

print(st1[5:-20])  # There will not be any output because -20 index is before the index 5 so that is the reason the output will be empty. 
#Since the step value is not mentioned the direction will be positive so the output will be null.
# If the step value is negative - then yes there will be an output. 
print(st1[5:-23:-1]) # O/p -  olle- Since the step is -1 the direction will be negative and we can see the output.

23
hello my name is Ananth
hello my name is Ananth

 olle

In [95]:
print(st1[5:14]) # O/p -  my name 
print(st1[-5:14]) #The output will be null since the direction is postive due to no step value. 
print(st1[5:-14]) #O/p -  my 
print(st1[-5:-14]) #The output will be null since the direction is postive due to no step value.

 my name

 my

**Truncation Behaviour**
- When ever the string range is limitted and we provided a bigger stop value - then string will consider till the length of the string.

In [108]:
st1 = "hello my name is Ananth"

print(st1[5:23])
print(st1[5:500])
print(st1[-500:500])
print(st1[-1:500])
print(st1[500:])

 my name is Ananth
 my name is Ananth
hello my name is Ananth
h

In [106]:
print(st1[-1:500])

h

$Pattern - 3$

-str1[start:stop:step]

- If step value is positive
    - last value = stop-1
- If step value is negative
    - last value = stop+1

In [115]:
st1 = "hello my name is Ananth"
print("1.",st1[2:13:2]) #Yes
print("2.",st1[2:13:-2]) #Not possible
print("3.",st1[2:-13:2]) # Not possible
print("4.",st1[2:-13:-2]) # Possible
print("5.",st1[-2:13:2]) # Possible
print("6.",st1[-2:-13:2]) # Not possible
print("7.",st1[-2:-13:-2]) # #Possible
print("8.",st1[13:2:2]) # Not possible
print("9.",st1[-13:2:2]) # Possible
print("10.",st1[-13:-2:2]) # possible
print("11.",st1[-13:-2:-2]) # Not possible
print("12.",st1[-13:2:-2]) # Not possible

1. lom ae
2.
3. lom
4.
5.
6.
7. taAs m
8.
9.
10. aei nn
11.
12. a mo

In [129]:
st1 = "hellomyname is Ananth and"
print("4.",st1[2:-13:-2])# not Possible
print("5.",st1[-2:13:2]) # not Possible
print("6.",st1[-2:-13:2]) # Not possible
print("9.",st1[-13:2:2]) # Possible

print(st1[:5:-2])
print(st1[:])
print(st1[::])
print(st1[::-1])

4.
5.
6.
9.
dahnn ieay
hellomyname is Ananth and
hellomyname is Ananth and
dna htnanA si emanymolleh

**Methods**
- Strings,list,tuples and dictionary every data type has its own methods. 
- Ex - random package - randint, math package - sqrt
- In the same way there are few methods related to strings. In order to see the methods we are need to apply dir.

In [144]:
dir('')
dir('Ananth')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [171]:
str1= 'AnaNth Sai'
print(str1.capitalize())
print(str1.casefold())
print(str1.upper())
print(str1.lower())

str1.center(20,'0')

Ananth sai
ananth sai
ANANTH SAI
ananth sai

'00000AnaNth Sai00000'

In [173]:
str1 = "hai how are you"
print(str1.title())

Hai How Are You

In [217]:
str1 = "hai how are you"
str2 = ""
lable = True
for i in str1:
    if lable:
        str2 +=chr(ord(i)-32)
    else:
        str2+=i
    lable = i in "'.,;:?! "
print(str2)

Hai How Are You

In [199]:
string = input("Enter a string: ")
acc = ""
next_is_upper = True # the first character will be uppercase
for char in string:
    if next_is_upper:
        acc += char.upper()
    else:
        acc += char
    next_is_upper = char in "'.,;:?! "

print(acc)

Enter a string:  hai how are you

Hai How Are You

In [215]:
print(ord('i'))
print(ord('I'))

105
73

In [219]:
for i in "'.,;:?! ":
    print(i)

'
.
,
;
:
?
!

In [229]:
str1 = "hai how are you"
str2 = ""
flag = True
for i in str1:
    if flag:
        str2 += chr(ord(i)-32)
    else:
        str2+=i
    flag = i in "'.:;, ?!"
print(str2)

Hai How Are You